/* navbar */
/* .router-link-exact-active{
   /* border-bottom:2px solid #008BC4; */
   

  
/* } */
.pushPageDown{
    margin-top:7%;
    min-height: 75vh;
}
.siteLogo{
    width: 2.5vw;
    margin: 0;
    padding: 0%;
}
.btn {
    background-color: #008BC4;
}
.custom-navbar{
    border-bottom: 2px solid #008BC4;
}
.navbar{
  z-index: 200 !important;

}
.mode{
  z-index: 9999 !important;
}



.index-carousel .slide_Img{
    height: 100vh;
    object-fit: cover;
}
.overlayBackground{
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    height: 100vh;
    min-width: 100vw;

}

.caption-text{
    color: white;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.caption-text h2{
    font-size: 350%;
    border-bottom:2px solid #008BC4;
    border-block-width: 5%;
}

.first-row{
    width: 100%;
    padding: 4%;
    background-color: lightslategray;
    color: white;
    text-align: center;
    margin-bottom: 3px;
    
}




.second-row{
    
    padding: 4%;
    color:#fff;
    background-color: #008BC4;
    text-align: center;
}

.second-row .fa, .second-row .fas{
    font-size:5em;
    color:#fff;
    border:2px solid #fff;
    border-radius: 50px;
    padding:0% 10%;
}

.second-row .fa:hover, .second-row .fas:hover{
    background-color:rgba(0,0,0, 0.7);
    transition: all 2s;
}

.second-row:nth-child{
    background-color: black;
}

.third-row{
  padding: 4%;
  color:#fff;
  background-color: black;
  text-align: center;
  
}
.card-text a:hover{
    text-decoration: none;
  }

/* CARRER COMMUNITIES STYLE  */


/* DASHBORAD DESIGN */
.takeAssessBtn{
    width:100%;
    border-radius: 0%;
}

   


 /* VUE CSS DESIGN
 .fade-enter-active, .fade-leave-active{
     transition: opacity 2s ease-out;
   }
   .fade-enter, .fade-leave-to{
     opacity: 0;
   } */

.fadePrimary-enter-active, .fadeJunior-enter-active {
    animation: bounce-in .5s;
  }
  .fadePrimary-leave-active, .fadeJunior-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .count-downTimer{
    /* //   background-color: gray;
    //   padding:2%; */
      width:20vw;
      border-radius: 5px;
      font-size: 4em;
  }

  .activeSide{
    color:fff;
      background-color: gray;
      
  }


/* Result page */
.mianHeader{
    padding: 5% 3% 3% 3%;
    text-align: center;
}

.caption_image img{
  width: 50%;
}
@media (max-width: 768px) {
  .caption_image img{
  width: 100%;
}
}







/* ========================================== */


/* FOOTER STYLE */
.footer{
    z-index: 10;
}
.footer-lower{
    bottom: 0;
    padding: 5% 0% 3% 0%;

}

.footer-lower p{
    color:whtie;

}